* {
    padding: 0;
    margin: 0;
}

.container {
    display: flexbox;
    flex-wrap: wrap;
}

.image {
    width: 300px;
}

.ic_ham {

top: 18px;
left: 331px;
width: 24px;
height: 24px;
transform: matrix(-1, 0, 0, -1, 0, 0);
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 0;
background-color: aqua;
}